html {
  font-size: 100%;
}

body {
  font-size: 1.25rem;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

@import url('./layout.css');
@import url('./sizing.css');
@import url('./utilities.css');